body{
    font-family: arial;
    background-color: #141414;
    color:#f4f4f4;
    margin:0;
}

header{
    background: #0d0d0d;
    padding: 20px;
    text-align: center;
    color: #f4f4f4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.container{
    display:block;
    text-align: center;
    margin-top:50px;
}

.myform {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
    border: 3px solid #b61111;
    background-color: #0d0d0d;
} 

.myform input[type="text"],
.myform input[type="email"],
.myform input[type="password"]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.myform #country{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#button{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #b61111;
    border-radius: 5px ;
    box-shadow: 1px 3px 5px rgba(0 , 0 , 0, 0.5);
    width: 200px;
    height: 50px;
    font-size: 15px;
    color: #ffffff;
}
#button:hover{
    background: #222;
    border-bottom-color: #1f030c;
}
#button:active{
    position: relative;
    top: 1px;
}
p{
    color: white;
}

/* ul{
    list-style-type: none;
} */